#newsletterDiv
{
	background: #333345;
}
#newsletterDiv ::after
{
	color: white;
	border-color: white;
}
#newsletterDiv h1
{
	color: #111;
}

#newsletterDiv h4,
#newsletterDiv p
{
	letter-spacing: 1px;
	color: white;
}
#newsletterFormCol
{
	box-shadow: 0 0 50px rgba(0,0,0,0.75);
	background: white;
	border-radius:10px;
}
#newsletterForm h3
{
	text-align: center;
	color: #333;
}
