#topimg
{
	background:url(../img/orange-blue.jpg) top/100% 100% no-repeat fixed;
	color: white;
}
	#topimg div
	{
		background:rgba(255,255,255,0.25);
		box-shadow:  0 0 50px rgba(0,0,0,0.75);
		border-radius: 0 15px 15px 0;
		padding: 20px 0;
		text-shadow:0 5px 15px rgba(0,0,0,0.40);
		width: 92%;
	}
	#topimg div p
	{
		display: inline-block;
		font-size: 70px;
		letter-spacing: 3px;
		padding-left: 50px;
		position: relative;
	}
	#topimg div p	#bfclogo
		{
			height: 200px;
		}
