footer
{
	padding: 25px 0 10px !important;
	text-align: center;
	background:url(../img/orange-blue.jpg) bottom/100% no-repeat ;
}
	footer div
	{
		border-radius: 0 15px 15px 0;
		width: 95%;
		background: rgba(255,255,255,0.5);
	}